.button-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các phần tử con */
  }
.topvua {
  text-align: center;
  color: gold;
  font-weight: bold;
  font-size: 2.5em;
  padding:10px;
  margin-bottom: 0%;
  background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-black-retro-football-movie-ad-background-picture-image_911623.jpg");
}
.modal-content{
  
  width: 110%;
  border:0px;
}
.card {
  background-color: rgba(255, 255, 255, 0.8); 
  border: none; 
  filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0,0,30,0.5));
  background-image: url("https://t3.ftcdn.net/jpg/01/91/49/26/360_F_191492670_3c0KFlQkkJAtsyamdOGWssR1AWvgVagP.jpg"); 
}
.table1{
  background-color: (45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);; 
  padding:5px;

}
.left-align{
  text-align: center;
}

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  align-items: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-image: url("https://watermark.lovepik.com/photo/50091/3009.jpg_wh1200.jpg");
  justify-content: center; /* Căn giữa các phần tử theo chiều ngang */
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  
}

.pricingdiv ul.theplan{
  list-style: none;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: gold;
  width: 200px; 
  margin-right: 20px; 
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: url("https://t3.ftcdn.net/jpg/06/70/44/34/360_F_670443478_r0mjj5XHq5twVf8FwPzRbfXHYSEVH0Fy.jpg");
  outline: none;
  border-radius: 3%;
}





.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
}

.pricingdiv ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px ;
  background: goldenrod;
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  text-transform: uppercase;

  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(249, 111, 118);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;

}

.pricingdiv ul.theplan li b{
  text-transform: uppercase;
}
.pricingdiv ul.theplan li.title b{
  font-size: 250%;
}

.pricingdiv ul.theplan:last-of-type{ 
  margin-right: 10px;
}


.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; 
}  

.search-container {
  margin-bottom: 15px; /* Space below search bar */
  width: 100%;
  max-width: 400px; /* Adjust the max-width to the desired size */
}

.search-container .form-control {
  width: 100%; /* Full width of the container */
}






@media only screen and (max-width: 768px) {
  .pricingdiv{
    justify-content: center;
    align-items: center;
  }
  .pricingdiv ul.theplan{
     margin-left: 20%;
     width: 260px;
  }

 
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
  
  .button-container {
    justify-content: space-between;
  }
  .modal-content {
    width: 100%;
    
    justify-content: center;
    
    
    padding: 0px;
}
 

  
}


.text1{
  color: goldenrod;
}