.button-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các phần tử con */
  }
.topvua {
  text-align: center;
  color: gold;
  font-weight: bold;
  font-size: 2.5em;
  padding:10px;
  background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-black-retro-football-movie-ad-background-picture-image_911623.jpg");
}

.card {
  background-color: rgba(255, 255, 255, 0.8); /* Màu trắng với độ trong suốt 80% */
  border: none; /* Loại bỏ viền nếu cần */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm một chút bóng để phân biệt */
  color: #000; /* Màu chữ bên trong thẻ */
}
.table1{
  background-color: (45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);; 
  padding:5px;

}
.left-align{
  text-align: center;
}

.pricingdiv{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-image: url("https://watermark.lovepik.com/photo/50091/3009.jpg_wh1200.jpg");
  
}

.pricingdiv ul.theplan{
  list-style: none;
  margin-top: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: gold;
  width: 260px; 
  margin-right: 20px; 
  margin-bottom: 1em;
  border: 1px solid gray;
  transition: all .5s;
  background-image: url("https://t3.ftcdn.net/jpg/06/70/44/34/360_F_670443478_r0mjj5XHq5twVf8FwPzRbfXHYSEVH0Fy.jpg");
  outline: none;
 
}

.pricingdiv ul.theplan:hover{ 
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricingdiv ul.theplan .center{
  margin: 0 auto;
  text-align: center;
}

.pricingdiv ul.theplan img{
  max-width: 80%;
  height: auto;
}

.pricingdiv ul.theplan li{
  padding: 10px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.pricingdiv ul.theplan li.title{
  font-weight: bold;
  text-align: center;
  padding: 30px 10px ;
  background: goldenrod;
  color: white;
  box-shadow: 0 -10px 5px rgba(0,0,0,.1) inset;
  text-transform: uppercase;
 
  
}

.pricingdiv ul.theplan:nth-of-type(2) li.title{
  background: rgb(249, 111, 118);
  color: white;
}
    
.pricingdiv ul.theplan:nth-of-type(3) li.title{
  background: rgb(210, 117, 251);
  color: white;

}

.pricingdiv ul.theplan li b{
  text-transform: uppercase;
}
.pricingdiv ul.theplan li.title b{
  font-size: 250%;
}

.pricingdiv ul.theplan:last-of-type{ 
  margin-right: 0;
}


.pricingdiv ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; 
}  



@media only screen and (max-width: 200px) {
  .pricingdiv ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricingdiv ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricingdiv a.pricebutton{
    display: block;
  }
  
}
