<h1 style="color: red"> <i class="bi bi-person-lines-fill" style="color: red;"></i> Danh sách cầu thủ </h1>
<div class="button-container">
    <button class="btn btn-primary mb-3" (click)="open(formplayer)" style="color: yellow;">Thêm cầu thủ</button>
    <button class="btn btn-primary mb-3" (click)="openTopGoalModal(formtopgoal)" style="color: yellow;">Top ghi bàn</button>
    <button class="btn btn-primary mb-3" (click)="openTopAssistModal(formtopassist)" style="color: yellow;">Top kiến tạo</button>
  </div>

<ng-template #formplayer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add">Thêm cầu thủ</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-player [idTeam]="idTeam"></app-form-add-player>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
  </div>
 </ng-template>

 <ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="delete-modal">Xóa cầu thủ</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="text-danger">
      Bạn có chắc chắn muốn loại cầu thủ này?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deletePlayer()">Xóa</button>
  </div>
 </ng-template>
 <ng-template #update let-modal>
  <div class="modal-header">
   <h4 class="modal-title" id="modal-update">Cập nhật thông tin cầu thủ</h4> 
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-player [idTeam]="idTeam" [dataUpdate]="dataUpdate"></app-form-add-player>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
    </div>
 </ng-template>

 <ng-template #formtopgoal  >
  <div class="modal-content" >
    <h2 class="topvua" >Danh sách top ghi bàn</h2>
    
  
    <div class="pricingdiv">
      <div *ngIf="topPlayers?.length > 0; else noData" class="row row-cols-1 row-cols-md-4 g-3 " >
      <ul class="theplan"  *ngFor="let player of topPlayers; let i = index">
        <li class="title"><b>Top {{i+1}} </b><br />{{player.name}}</li>
        <li><b>Vị trí:</b> {{player.role}}</li>
        <li style="text-align: left;"><b >Số bàn thắng:</b> {{player.goal}}</li>
        
      </ul>
      
    </div>
    </div>
    </div>
</ng-template>

<ng-template #formtopassist  >
  <div class="modal-content" >
  <div class="topvua" >Danh sách top kiến tạo</div>
  

  <div class="pricingdiv ">
    <div *ngIf="topAssist?.length > 0; else noData" class="row row-cols-1 row-cols-md-4 g-3 " >
    <ul class="theplan"   *ngFor="let player of topAssist; let i = index">
      <li class="title"><b>Top {{i+1}} </b><br />{{player.name}}</li>
      <li><b>Vị trí:</b> {{player.role}}</li>
      <li style="text-align: left;"><b >Số kiến tạo:</b> {{player.assist}}</li>
      
    </ul>
    
  </div>
  </div>
  </div>
</ng-template>


 <div *ngIf="players$.length > 0; else noData" class="row row-cols-1 row-cols-md-4 g-3 " >
  <div *ngFor="let player of players$; let i = index">
 <div class="d-flex justify-content-center container mt-7" >
  <div class="card p-3 bg-white" >
      <div class="about-product text-center mt-2"><img src="https://cdn.vectorstock.com/i/preview-1x/42/06/avatar-winner-soccer-ball-sport-design-vector-29004206.jpg" width="200" style="border-radius:100%;">
          <div >
              <h4 style="color: red; font-weight: bold; text-transform: uppercase; margin-top: 10px;">{{player.name}}</h4>
    
          </div>
      </div>
      <div class="stats mt-2" >
          <div class="d-flex justify-content-between p-price text1"><span>Tuổi</span><span>{{player.age}}</span></div>
          <div class="d-flex justify-content-between p-price text1" ><span>Bàn thắng</span><span>{{player.goal}}</span></div>
          <div class="d-flex justify-content-between p-price text1"><span>Kiến tạo</span><span>{{player.assist}}</span></div>
          <div class="d-flex justify-content-between p-price text1"><span>Vị trí</span><span>{{player.role}}</span></div>
      </div>
      
      <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-sm btn-success" placement="top" ngbTooltip="Cập nhật" style="margin-right: 10px; width: 40px;" (click)="openUpdate(update, player)">
          <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
        </button>
        <button class="btn btn-sm btn-danger" placement="top" ngbTooltip="Xoá" style="margin-right: 10px; width: 40px;" (click)="openDelete(deleteModal, player.id)">
          <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
        </button>
      </div>
  </div>
</div>
</div>
 </div>

<ng-template #noData>
  Chưa có cầu thủ nào được thêm
</ng-template>