
<div *ngIf="listLeaguage.length > 0; else noData" class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let leaguage of listLeaguage; let i = index" class="col">
    <div  class="card">
<!--      <img src="./assets/img/anhbia2.jpg" class="card-img-top" alt="...">-->
      <img *ngIf="leaguage.logoUrl; else noLogo" [src]="leaguage.logoUrl" class="card-img-top" style="object-fit: cover;" alt="logo">
      <ng-template #noLogo>
        <img src="./assets/img/anhbia2.jpg" class="card-img-top" alt="">
      </ng-template>
      <div class="card-body">
        <h4 class="card-title">{{leaguage.name}}</h4>
        <button class="btn btn-sm btn-success" (click)="open(content, leaguage)" style="margin-right: 10px">
          <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
          Cập nhật
        </button>
        <a class="btn btn-sm btn-secondary" style="margin-right: 10px" [routerLink]="'../season/' + leaguage.id">
          <i class="fa-solid fa-trophy" style="color: #ffffff;"></i>
          Mùa giải
        </a>
        <button class="btn btn-sm btn-danger" style="margin-right: 10px" (click)="openDelete(deleteModal, leaguage)">
          <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
          Xóa
        </button>
        <button class="btn btn-sm btn-info" (click)="openUploadImage(uploadModal, leaguage.id)">
          <i class="fa-regular fa-image" style="color: #ffffff;"></i>
          Thêm ảnh bìa
        </button>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Sửa thông tin giải đấu</h4>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="mb-3">
              <label>Tên giải đấu</label>
              <input class="form-control" type="text" name="name" formControlName="name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="saveChanges()">Save</button>
        </div>
      </ng-template>

      <ng-template #deleteModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="delete-modal">Xóa giải đấu</h4>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">
            Bạn có chắc chắn muốn xóa giải đấu {{dataUpdate.name}} ?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteLeague()">Xóa</button>
        </div>
      </ng-template>

    </div>

  </div>
</div>
<ng-template #noData>
  <p>Chưa có giải đấu nào được tạo</p>
</ng-template>

<ng-template #uploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cập nhật ảnh bìa giải đấu</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <label class="input-group-text"  for="inputGroupFile01">Upload</label>
      <input type="file" (change)="onFileSelected($event)" class="form-control" id="inputGroupFile01">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Đóng lại</button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading"  (click)="uploadImage(modal)"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{button}}</button>
  </div>
</ng-template>





