<div  class="side-nav-content">
  <ul class="nav-list" [ngClass]="{'nav-list-open': sidenavStatus}">
    <li class="nav-list-item">
      <a  href="" routerLink="league">
        <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        Leaguage</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="team">
        <i class="fa-solid fa-user" style="color: #ffffff;"></i>
        Team</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="schedule">
        <i class="fa-solid fa-calendar" style="color: #ffffff;"></i>
        Schedule</a>
    </li>
    <li class="nav-list-item">
      <a  href="" routerLink="standing">
        <i class="fa-regular fa-futbol" style="color: #fbfcfe;"></i>
        Leaderboard</a>
    </li>
  </ul>

</div>
