nav {
  height: 100%;
}
.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-nav-button:hover {
  opacity: 0.8;
}


@media (max-width: 1023px) {
  .search, .profile-logo {
    display: none !important;
  }
}

.red-button {
  background-color: red;
  color: white;
  
  border: none;
  border-radius: 10px;
  padding: 5px  ; 
  transition: transform 0.3s ease; 
}
.red-button:hover {
  transform: scale(1.1); 
}
