.team-logo {
  width: 30px;  /* Adjust the width as needed */
  height: 30px;  /* Adjust the height as needed */
  object-fit: cover;
  margin-right: 10px;  /* Adjust the spacing as needed */
  vertical-align: middle;  /* Aligns the image with the text */
  border-radius: 50%;  /* Makes the image circular if it's a square */
}

@media (max-width: 768px) {
	
	.d-none-sm {
	  display: none !important;
	}
  
	
	.details {
	  display: block;
	  margin-top: 10px;
	}
  
	.details p {
	  margin: 0;
	  padding: 2px 0;
	}

  .btn-config {
    margin-bottom: 10px;  
  }
  }

