 <ng-container *ngIf="teams$; else loadingValue">
  <div class="d-flex justify-content-between">
    <h1> <i class="fa-solid fa-table-list mr-3" style="color: #74C0FC;"></i> Danh sách đội bóng</h1>
    <div class="input-group mb-3 search-container">
      <span class="input-group-text search" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass" style="color: #B197FC"></i></span>
      <input type="search" [(ngModel)]="searchText" class="form-control search-container" placeholder="Ten doi bong ">
    </div>
  </div>
  <button class="btn btn-primary mb-3"   (click)="open(formteam)">Thêm đội bóng</button>

  <table class="table">
    <thead>
    <tr >
      <th>Stt</th>
      <th>Tên đội bóng </th>
      <th  class="text-end d-none-sm"> Số điện thoại </th>
      <th  class="text-end d-none-sm"> Đội trưởng</th>
      <th  >Cấu hình</th>
    </tr>
    </thead>
    <tbody *ngIf="teams$?.length > 0; else noData">
    <tr *ngFor="let team of teams$|filter: searchText; let i = index">
      <td>{{(pageableInfo.currentPage -1) * pageableInfo.recordPerPage + i + 1}}</td>
      <td>
        <img *ngIf="team.logoUrl; else noLogo" [src]="team.logoUrl" alt="{{team.name}} logo" class="team-logo">
        <ng-template #noLogo>
          <img src="./assets/img/defaultLogo.jpg" class="team-logo" alt="">
        </ng-template>
        {{team.name}}

        <div class="details d-sm-none">
          <p><strong>- Số điện thoại:</strong> {{ team.phoneNumber }}</p>
          <p><strong>- Đội trưởng:</strong> {{ team.captainName}}</p>
      
          
        </div>
      </td>
      <td  class="text-end d-none-sm">{{team.phoneNumber}}</td>
      <td  class="text-end d-none-sm">
        {{team.captainName}}
      </td>
      <td>
        <button class="btn btn-sm btn-info btn-config" placement="top" ngbTooltip="Cập nhật logo đội bóng"  style="margin-right: 10px"  (click)="openUploadImage(uploadModal, team.id)">
          <i class="fa-solid fa-upload" style="color: #ffffff;"></i>
          Cập nhật logo
        </button>
        <button class="btn btn-sm btn-success btn-con" placement="top"   ngbTooltip="Cập nhật"  style="margin-right: 10px" (click)="openUpdate(update, team)">
          <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
          Cập nhật
        </button>
        <button class="btn btn-sm btn-danger btn-con" placement="top" ngbTooltip="Xoá" style="margin-right: 10px" (click)="openDelete(deleteModal, team.id)">
          <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
          Xoá
        </button>
        
      </td>

      

    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="(pageableInfo.currentPage - 1) * pageableInfo.recordPerPage"
      [rows]="pageableInfo.recordPerPage"
      [totalRecords]="totalRecords"
      [showFirstLastIcon]="false"
      [rowsPerPageOptions]="[5, 10, 20]">
    </p-paginator>
    <p class="text-secondary mt-4 d-none-sm">Hiển thị {{teams$.length}} trong {{totalRecords}} đội bóng</p>
  </div>


 </ng-container>


<ng-template #formteam let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add">Thêm đội bóng</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-team [idSeason]="idSeason"></app-form-add-team>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
  </div>
 </ng-template>

 <ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="delete-modal">Xóa đội bóng</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="text-danger">
      Bạn có chắc chắn muốn xóa đội bóng này?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteTeam()">Xóa</button>
  </div>
 </ng-template>
 <ng-template #update let-modal>
  <div class="modal-header">
   <h4 class="modal-title" id="modal-update">Cập nhật thông tin đội bóng</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-team [idSeason]="idSeason" [dataUpdate]="dataUpdate"></app-form-add-team>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
    </div>
 </ng-template>

<ng-template #uploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cập nhật logo đội bóng</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <label class="input-group-text"  for="inputGroupFile01">Upload</label>
      <input type="file" (change)="onFileSelected($event)" class="form-control" id="inputGroupFile01">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Đóng lại</button>
    <button type="button" class="btn btn-primary" [disabled]="isLoading"  (click)="uploadImage(modal)"><i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{button}}</button>
  </div>
</ng-template>

<ng-template #loadingValue>
  <p-skeleton width="15rem" height="2rem" styleClass="mb-4"></p-skeleton>
  <p-skeleton width="8rem" height="2rem" styleClass="mb-4"></p-skeleton>
  <table class="table ">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Tên đội bóng </th>
      <th>Số điện thoại </th>
      <th >Đội trưởng</th>
      <th>Cấu hình</th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 40px">
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
    <tr style="height: 40px">
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
    <tr style="height: 40px">
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
    <tr style="height: 40px">
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td><p-skeleton></p-skeleton></td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>



<ng-template #noData>
  Chưa có đội bóng nào được thêm
</ng-template>




