<ng-container *ngIf="seasons; else loading">
  <h1><i class="fa-solid fa-table-list mr-3" style="color: #74C0FC;"></i> Danh sách mùa giải</h1>

  <button class="btn btn-primary mb-3" (click)="open(form)">Thêm mùa giải</button>
  <table class="table">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Tên mùa giải</th>
        <th class="text-end d-none-sm">Địa điểm</th>
        <th class="text-end d-none-sm">Số lượng đội tham gia</th>
        <th class="text-end d-none-sm">Thể thức</th>
        <th class="text-center ">Cấu hình</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let season of seasons; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ season.name }}
          <div class="details d-sm-none">
            <p><strong>- Địa điểm:</strong> {{ season.place }}</p>
            <p><strong>- Số lượng đội tham gia:</strong> {{ season.numberOfTeams }}</p>
            <p><strong>- Thể thức:</strong> {{ season.typeTournament }}</p>
            
          </div>
        </td>
        <td class="text-end d-none-sm">{{ season.place }}</td>
        <td class="text-end d-none-sm">{{ season.numberOfTeams }}</td>
        <td class="text-end d-none-sm">{{ season.typeTournament }}</td>
        <td class="text-center ">
          <a class="btn btn-sm btn-primary btn-config" style="margin-right: 10px" [routerLink]="['../teams', season.id]">
            <i class="fa-solid fa-people-group" style="color: #ffffff;"></i>
            Đội bóng
          </a>
          <a class="btn btn-sm btn-info btn-config" style="margin-right: 10px" [routerLink]="['../schedule', season.id]">
            <i class="fa-regular fa-calendar-days" style="color: #FFFFFF"></i>
            Lịch thi đấu
          </a>
          <a class="btn btn-sm btn-warning btn-config" style="margin-right: 10px" [routerLink]="['../standing', season.id]">
            <i class="fa-solid fa-list-ol" style="color: #FFFFFF"></i>
            Bảng xếp hạng
          </a>
          <button class="btn btn-sm btn-success btn-con" placement="top" ngbTooltip="Cập nhật" style="margin-right: 10px" (click)="openUpdate(update, season)">
            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
          </button>
          <button class="btn btn-sm btn-danger btn-con" placement="top" ngbTooltip="Xoá" style="margin-right: 10px" (click)="openDelete(deleteModal, season.id)">
            <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<div *ngIf="!seasons">
  Chưa có giải đấu được tạo
</div>


<!--form add-->
<ng-template #form let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-add">Thêm mùa giải</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-season [idLeague]="idLeague"></app-form-add-season>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
  </div>
</ng-template>
<!--end-->

<!--delete modal-->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="delete-modal">Xóa mùa giải</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="text-danger">
      Bạn có chắc chắn muốn xóa mùa giải ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteSeason()">Xóa</button>
  </div>
</ng-template>
<!--end-->

<!--update modal-->
<ng-template #update let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-update">Cập nhật mùa giải</h4>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-form-add-season [idLeague]="idLeague" [dataUpdate]="dataUpdate"></app-form-add-season>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Thoát</button>
  </div>
</ng-template>
<!--end-->

<ng-template #loading>
  <p-skeleton width="15rem" height="2rem" styleClass="mb-4"></p-skeleton>
  <p-skeleton width="8rem" height="2rem" styleClass="mb-4"></p-skeleton>
  <table class="table ">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Tên mùa giải</th>
      <th>Địa điểm</th>
      <th class="text-end">Số lượng đội tham gia</th>
      <th>Thể thức</th>
      <th class="w-50">Cấu hình</th>
    </tr>
    </thead>
    <tbody>
      <tr style="height: 40px">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
      <tr style="height: 40px">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
      <tr style="height: 40px">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
      <tr style="height: 40px">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
      <tr style="height: 40px">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
        <td><p-skeleton></p-skeleton></td>
        <td>
          <p-skeleton></p-skeleton>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>






