@media (max-width: 768px) {
	
	.d-none-sm {
	  display: none !important;
	}
  
	
	.details {
	  display: block;
	  margin-top: 10px;
	}
  
	.details p {
	  margin: 0;
	  padding: 2px 0;
	}

	.btn-config {
		margin-bottom: 10px;  
	  }
  }