<div class="background-image" style="background-image: url('./assets/img/3393544.jpg')">
  <div class="container">
    <a routerLink="/home" class="logo-container">
      <img src="./assets/img/dyvi.png" class="logo" alt="Logo">
    </a>

    <form [formGroup]="loginForm" class="sign-in-form bg-white p-3" style="border-radius: 10px; width: 400px">
      <h2 class="text-center">Đăng Nhập</h2>
      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tên đăng nhập</mat-label>
          <input formControlName="username" matInput placeholder="Ten dang nhap">
          <mat-error *ngIf="loginForm.get('username')?.errors?.['required']">
            Ten dang nhap không được bỏ trống
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Mật khẩu</mat-label>
          <input formControlName="password" type="password" matInput placeholder="Mật khẩu">
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            Mật khẩu không được bỏ trống
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Mật khẩu phải chứa ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-checkbox formControlName="rememberMe" class="remember-me">Ghi nhớ tôi</mat-checkbox>
      </div>

      <div class="form-group">
        <button mat-raised-button color="primary" (click)="login()" class="login-button">Đăng nhập</button>
      </div>

      <div class="text-center mt-3">
        <p>Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
      </div>

      <div class="text-danger mt-2" *ngIf="errMsg">{{ errMsg }}</div>

    </form>
  </div>
</div>
