


mat-sidenav-content {
  overflow-x: hidden; /* Ngăn chặn thanh trượt ngang */
}

.router-content {
  width: 100%; /* Đảm bảo nội dung chiếm hết chiều rộng */
  box-sizing: border-box; /* Bao gồm padding và border vào tổng chiều rộng */
}

/* Nếu bạn sử dụng Flexbox */
mat-sidenav-container {
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.router-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mat-toolbar-row ,  .mat-toolbar-single-row {
  padding: 0;
}

.content {
  padding: 24px;
}

mat-toolbar {
  position: relative;
  z-index: 5;
  background-color: #343a40;
}

mat-sidenav {
    background-color: #343a40;
}

i {
  color: #ffffff;
}
span {
  color: #ffffff;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: #e7f1f1;
}

.xng-breadcrumb-separator {
  padding: 0 4px;
}

