
<mat-toolbar  class="mat-elevation-z3">
  <button (click)="collapsed.set(!collapsed())" mat-icon-button>
    <i style="color: #ffffff" class="fa-solid fa-bars"></i>
  </button>
  <a routerLink="../admin">
    <img src="./assets/img/dyvi.png"  style="width: 126px; height: 42px"  alt="anhlogo">
  </a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav  opened mode="side" [style.width]="sideNavWidth()">
    <mat-nav-list>
      <a  mat-list-item routerLink="league"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
      >
        <i class="fa-solid fa-house" ></i>
        <span>
          Quản lý giải đấu
        </span>
      </a>
      <a  mat-list-item routerLink="team"
          routerLinkActive
          #rla1="routerLinkActive"
          [activated]="rla1.isActive">
        <i class="fa-solid fa-user" ></i>
        <span>
          Quản lý đội bóng
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
    <div class="router-content">
      <xng-breadcrumb style="background: #eef0f8; padding: 8px; margin-bottom: 8px" >
        <ng-container
          *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first"
        >
          <mat-icon *ngIf="info"><i class="fa-solid fa-house" style="color: #6c757d;"></i></mat-icon>
          <ng-container >{{ breadcrumb }}</ng-container>
        </ng-container>
      </xng-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

