<div *ngIf="team.length > 0; else noData" class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let teams of team;let i = index" class="col">
      <div  class="card">
        <img src="./assets/img/logoplayer2.jpg" class="card-img-top" alt="..." style="width: 300px; height:250px">
        <div class="card-body">
          <h4 class="card-title">{{teams.name}}</h4>
          
          <a class="btn btn-sm btn-secondary" style="margin-right: 5px" [routerLink]="'../player/' + teams.id">
            <i class="fa-solid fa-trophy" style="color: #ffffff;"></i>
            Quản lý cầu thủ
          </a>
          
        </div>
  
  
        
  
      </div>
  
    </div>
  </div>
  <ng-template #noData>
    <p>Chưa có đội bóng nào được tạo</p>
  </ng-template>
