<h1><i class="fa-solid fa-table-list mr-3" style="color: #74C0FC;"></i> Bảng xếp hạng</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên đội bóng</th>
      <th>Số điểm</th>
      <th>Số bàn thắng</th>
      <th>Số bàn thua</th>
      <th>Hiệu số</th>
      <th>Cập nhật</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let team of teams; let i = index" >
      <td>{{ i + 1 }}</td>
      <td>
        <input type="text" formControlName="name">
      </td>
      <td>
        <input type="number" formControlName="points">
      </td>
      <td>
        <input type="number" formControlName="goalsFor">
      </td>
      <td>
        <input type="number" formControlName="goalsAgainst">
      </td>
      <td>
        <input type="number" formControlName="goalDifference">
      </td>
      <td>
        <button class="btn btn-sm btn-success" placement="top" ngbTooltip="Cập nhật" >
          <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noData>
  <tr>
    <td colspan="7">Chưa có dữ liệu</td>
  </tr>
</ng-template>


