

<body>
<app-navbar></app-navbar>

<app-carousel></app-carousel>

<!--content-->
<div class="bg-dark">
  <div class="container">
    <div class="title text-white text-center " style="padding:  80px 0">
      <h2>Điều hành giải đấu</h2>
      <p>Có 3 giai đoạn điều hành giải đấu</p>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
          <div class="card border-dark text-bg-dark mb-3">
            <div class="card-header"><h2>1. Tạo giải</h2></div>
            <div class="card-body">
              <ul class="list-step" style="list-style: none">
                <li class="step pb-2">- Nhập tên giải đấu  </li>
                <li class="step pb-2">- Thêm mùa giải  </li>
              </ul>
            </div>
          </div>
        </div>
      <div class="col-md-4">
        <div class="card border-dark text-bg-dark mb-3">
          <div class="card-header"><h2>2. Tùy chỉnh giải đấu</h2></div>
          <div class="card-body">
            <ul class="list-step" style="list-style: none">
              <li class="step pb-2">- Nhập thông tin các đội bóng</li>
              <li class="step pb-2">- Lập lịch thi đấu   </li>
              <li class="step pb-2">- Tùy chỉnh giai đoạn </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-dark text-bg-dark mb-3">
          <div class="card-header"><h2>3. Điều hành giải đấu</h2></div>
          <div class="card-body">
            <ul class="list-step" style="list-style: none">
              <li class="step pb-2">- Kích hoạt</li>
              <li class="step pb-2">- Nhập tỉ số  </li>
<!--              <li class="step pb-2"> </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end-content-->

<!--footer-->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Tung</span>
    </div>
  </footer>
</div>
</body>

